.app {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100vh;
}

.app-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  min-height: 65px;
  background-color: palegoldenrod;
}

.logo {
  display: inline-block;
  margin: 0;
  margin-left: 1rem;
  word-break: break-all;
  align-self: center;
}

.wizard {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  overflow-X: auto;
}

.wizard ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.feature {
  display: -webkit-box;
  display: flex;
  padding: 10px 2%;
  min-height: 20px;
  background-color: #2fffb8;
  vertical-align: middle;
  font-size: 16px;
  line-height: 20px;
}

.app-footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  min-height: 65px;
  background-color: palegoldenrod;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
}

.button {
  display: inline-block;
  margin: 0 0 1rem;
  padding: .85em 1em;
  border: 1px solid transparent;
  border-radius: 0;
  background-color: #2199e8;
  color: #fefefe;
  vertical-align: middle;
  text-align: center;
  font-size: .9rem;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: background-color .25s ease-out, color .25s ease-out;
  transition: background-color .25s ease-out, color .25s ease-out;
  -webkit-appearance: none;
}

.button:focus, .button:hover {
  background-color: #1583cc;
  color: #fefefe
}

.button--wizard {
  margin: 5px;
  margin-top: 12px;
  margin-bottom: 12px;
  min-width: 120px;
  width: 20vh;
}

.button--back {
  background-color: #777;
  color: #fefefe
}

.button--back:focus, .button--back:hover {
  background-color: #5f5f5f;
  color: #fefefe
}

.button--finish {
  background-color: #3adb76;
  color: #fefefe
}

.button--finish:focus, .button--finish:hover {
  background-color: #22bb5b;
  color: #fefefe
}

.button--exit {
  background-color: #ec5840;
  color: #fefefe
}

.button--exit:focus, .button--exit:hover {
  background-color: #da3116;
  color: #fefefe
}
